<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ola</h1>
    <table border="1px">
        <thead>
            <tr>
               {%for processo,colspan in processos_colspans%}
               <th colspan="{{colspan}}">{{processo.descricao}}</th>
               {%endfor%}
            </tr>
            <tr> 
                {%for funcionario,colspan in funcionarios_colspans%}
                <th colspan="{{colspan}}">{{funcionario.username}}</th>
                {%endfor%}
            </tr>
            <tr>
                {%for tarefa in tarefas%}
               <th>{{tarefa.descricao}}</th>
               {%endfor%}

            </tr> 
        </thead>
    </table>
</body>
</html>