<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Meu Dashboard</h1>
    {% if clientes %}
    <table border="1px">
        <thead>
            <tr>
                <th></th>
                {% for etapa in etapas %}
                <th colspan="{{ etapa.qtd_tarefas }}">{{ etapa.descricao }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th></th>
                {% for funcionario in funcionarios %}
                <th colspan="{{ funcionario.qtd_tarefas }}">{{ funcionario.nome }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>Obra</th>
                {% for tarefa in tarefas %}
                <th>{{ tarefa.descricao }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th>{{ cliente.nome }}</th>
                {% for execucao in cliente.execucoes %}
                <td>{{ execucao.status }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sem dados disponiveis.</p>
    {% endif %}
</body>
</html>